In [1]:
import pandas as pd
import pandas_profiling

In [ ]:
crashes = pd.read_csv('../data/NYC_Motor_Vehicle_Collisions_-_Crashes.csv', low_memory=False)

In [3]:
crashes.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,11/05/2012,22:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NYHQ EMERGENCY RAMP N/O BOOTH MEMORIAL A,...,Unspecified,NaN,NaN,NaN,247516,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1,12/16/2015,16:40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3354192,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
2,07/08/2015,21:05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PARKING LOT 43-23 COLDEN ST,...,NaN,NaN,NaN,NaN,3255198,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
3,10/20/2014,16:50,NaN,NaN,NaN,NaN,NaN,BRUCKNER BOULEVARD,EAST 138 STREET,NaN,...,Unspecified,NaN,NaN,NaN,2811197,PASSENGER VEHICLE,OTHER,NaN,NaN,NaN
4,11/05/2012,4:40,NaN,NaN,40.664941,-73.996636,"(40.6649411, -73.9966365)",NaN,NaN,NaN,...,Unspecified,NaN,NaN,NaN,2965016,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN

In [4]:
crashes.describe()

,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,COLLISION_ID
count,1.513694e+06,1.513694e+06,1.719097e+06,1.719083e+06,1.719114e+06,1.719114e+06,1.719114e+06,1.719114e+06,1.719114e+06,1.719114e+06,1.719114e+06
mean,4.069000e+01,-7.386726e+01,2.692338e-01,1.226817e-03,5.108155e-02,6.474265e-04,2.230335e-02,9.132611e-05,1.956799e-01,4.868787e-04,2.874804e+06
std,1.181295e+00,2.395893e+00,6.650900e-01,3.705490e-02,2.325906e-01,2.597940e-02,1.491967e-01,9.616715e-03,6.267415e-01,2.412550e-02,1.503433e+06
min,0.000000e+00,-2.013600e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.200000e+01
25%,4.066871e+01,-7.397633e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.825636e+06
50%,4.072231e+01,-7.392876e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.495704e+06
75%,4.076859e+01,-7.386669e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.925714e+06
max,4.334444e+01,0.000000e+00,4.300000e+01,8.000000e+00,2.700000e+01,6.000000e+00,4.000000e+00,2.000000e+00,4.300000e+01,5.000000e+00,4.355973e+06

In [5]:
pd.to_datetime(crashes['CRASH DATE']).describe()

count                 1719114
unique                   3020
top       2014-01-21 00:00:00
freq                     1161
first     2012-07-01 00:00:00
last      2020-10-06 00:00:00
Name: CRASH DATE, dtype: object

In [6]:
profile = pandas_profiling.ProfileReport(crashes)

In [7]:
profile.to_widgets()

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=43.0), HTML(value='')))

HBox(children=(HTML(value='Generate report structure'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render widgets'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valuâ€¦