In [1]:
import pandas as pd
import pandas_profiling

In [2]:
crashes = pd.read_csv('../data/US_Accidents_June20.tar.gz', low_memory=False)

In [3]:
crashes.head()

,US_Accidents_June20.csv,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,MapQuest,201.0,3.0,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,MapQuest,201.0,2.0,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,MapQuest,201.0,2.0,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,MapQuest,201.0,3.0,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,MapQuest,201.0,2.0,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day

In [4]:
crashes.describe()

,TMC,Severity,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Number,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in)
count,2.478818e+06,3.513740e+06,3.513740e+06,3.513740e+06,1.034922e+06,1.034922e+06,3.513740e+06,1.250786e+06,3.448004e+06,1.645484e+06,3.444049e+06,3.457856e+06,3.437879e+06,3.059127e+06,1.487859e+06
mean,2.080226e+02,2.339935e+00,3.654208e+01,-9.579208e+01,3.755791e+01,-1.004574e+02,2.816462e-01,5.975823e+03,6.193496e+01,5.355749e+01,6.511372e+01,2.974452e+01,9.122668e+00,8.218940e+00,1.598132e-02
std,2.076627e+01,5.522103e-01,4.883511e+00,1.736894e+01,4.861103e+00,1.852878e+01,1.550166e+00,1.496662e+04,1.862108e+01,2.377308e+01,2.275582e+01,8.322425e-01,2.885840e+00,5.262870e+00,1.928187e-01
min,2.000000e+02,1.000000e+00,2.455527e+01,-1.246238e+02,2.457011e+01,-1.244978e+02,0.000000e+00,0.000000e+00,-8.900000e+01,-8.900000e+01,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.010000e+02,2.000000e+00,3.363793e+01,-1.174420e+02,3.399487e+01,-1.183450e+02,0.000000e+00,8.640000e+02,5.000000e+01,3.570000e+01,4.800000e+01,2.973000e+01,1.000000e+01,5.000000e+00,0.000000e+00
50%,2.010000e+02,2.000000e+00,3.591703e+01,-9.102632e+01,3.779787e+01,-9.703673e+01,0.000000e+00,2.798000e+03,6.400000e+01,5.700000e+01,6.700000e+01,2.995000e+01,1.000000e+01,7.000000e+00,0.000000e+00
75%,2.010000e+02,3.000000e+00,4.032258e+01,-8.093303e+01,4.105139e+01,-8.210268e+01,1.000000e-02,7.098000e+03,7.590000e+01,7.200000e+01,8.400000e+01,3.009000e+01,1.000000e+01,1.150000e+01,0.000000e+00
max,4.060000e+02,4.000000e+00,4.900220e+01,-6.711317e+01,4.907500e+01,-6.710924e+01,3.336300e+02,9.999997e+06,1.706000e+02,1.150000e+02,1.000000e+02,5.774000e+01,1.400000e+02,9.840000e+02,2.500000e+01

In [5]:
profile = pandas_profiling.ProfileReport(crashes)

In [6]:
# Generate Summary Statistics Report (takes a few minutes)
# profile.to_widgets()

## Demonstrate ability to collect all crashes in a city or county

In [7]:
county = "Arlington"
state = "VA"

arlington_crashes = crashes[(crashes['State']==state) & (crashes['County']==county)]
arlington_crashes[['US_Accidents_June20.csv', 'Start_Time', 'Start_Lat', 'State', 'County', 
                   'Temperature(F)', 'Weather_Condition']].head()

,US_Accidents_June20.csv,Start_Time,Start_Lat,State,County,Temperature(F),Weather_Condition
228597,A-228599,2016-11-30 19:09:27,38.846519,VA,Arlington,62.1,Overcast
228667,A-228669,2016-12-01 07:04:26,38.862434,VA,Arlington,53.1,Partly Cloudy
228675,A-228677,2016-12-01 07:09:35,38.846519,VA,Arlington,53.1,Partly Cloudy
228699,A-228701,2016-12-01 07:59:00,38.874119,VA,Arlington,53.1,Partly Cloudy
228807,A-228809,2016-12-01 16:47:29,38.864910,VA,Arlington,51.1,Partly Cloudy

In [8]:
city = "Richmond"
state = "VA"

arlington_crashes = crashes[(crashes['State']==state) & (crashes['City']==city)]
arlington_crashes[['US_Accidents_June20.csv', 'Start_Time', 'Start_Lat', 'State', 'City', 
                   'Temperature(F)', 'Weather_Condition']].head()

,US_Accidents_June20.csv,Start_Time,Start_Lat,State,City,Temperature(F),Weather_Condition
512295,A-512301,2020-05-24 17:22:59,37.611858,VA,Richmond,68.0,Cloudy
512769,A-512775,2020-05-25 17:17:43,37.518490,VA,Richmond,75.0,Mostly Cloudy
512776,A-512782,2020-05-25 20:29:01,37.617260,VA,Richmond,66.0,Fair
513935,A-513941,2020-05-26 08:02:45,37.513401,VA,Richmond,61.0,Fog
513936,A-513942,2020-05-26 08:02:45,37.519230,VA,Richmond,61.0,Fog